.wrapper {
    height: 60px;
    background: #ff6700;
    display: flex;
    align-items: center;
}

.inner {
    margin: 0 50px;
    width: 1200px;
}

.inner-logo {
    height: 40px;
    width: auto;
}