.wrapper {
    width: 20%;
    background-color: #202123;
    border-right: 1px solid #fff;
}

.box-list {
    list-style: none;
}

.box-item {
    padding: 10px 0;
    // background-color: #ccc;
    cursor: pointer;
    box-sizing: border-box;
    
    &:hover {
        background-color: #343541;
        border-radius: 10px;
    }
}

.box-item_span {
    padding: 10px;
    color: #ececf1;
    text-decoration: none;
}

.active {
    padding: 1px 0;
    background-color: #343541;
    border-radius: 10px;
    display: block;
}