.formPayment {
    padding: 20px;
}

.h3_title {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content-form__cart {
    width: 100%;
    display: flex;
}

.gender1 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 25px;
}

.gender-span {
    padding: 0 10px;
    cursor: pointer;
}

.input-form__cart {
    height: 40px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.col-md-6 {
    margin-bottom: 20px;
}

.content-input__info {
    display: flex;
    flex-wrap: wrap;
}



.tabReceive {
    background: #F0F0F0;
    border-radius: 3px;
    padding: 20px;
    position: relative;
}

.mainTab::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 45px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #F0F0F0;
}

.padding-input_info {
    // padding: 0 10px;
    margin: 10px;
}

.tab-title {
    color: #6a6a6a;
    font-size: 14px;
}

.pd1 {
    padding: 0 5px;
    margin-bottom: 10px;
    width: 100%;
}

.pd1-select {
    height: 40px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #616161;
}

.total_end {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    margin: 0;
}

#total_money {
    color: #FF6700
}

.payment-btn {
    display: flex;
    border-radius: 3px;
    background: -webkit-linear-gradient(left, #FF6700, #F9920F);
    font-weight: bold;
    color: #fff;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    padding: 16px 10px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.agree {
    display: block;
    text-align: center;
    color: #777;
    margin-top: 20px;
}

.pd1-select__option {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px;
}

.error-message {
    font-size: 13px;
    color: red;
    margin-bottom: 15px;
    padding: 10px 12px;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    float: left;
    width: 100%;
    margin-top: 10px;
}

/* pc */
@media (min-width: 64em) {
    .col-md-12 {
        display: flex;
    }   
}

/* tablet and pc */
@media (min-width: 63.93em) and (max-width: 77.5em) {
    .col-md-12 {
        display: flex;
    }
}
@media (max-width: 77.5em) {
    
}

/* tablet */
@media (min-width: 46.25em) and (max-width: 63.93em) {
    
}

/* mobile */
@media (max-width: 46.18em) {
    
}

/* mobile and tablet*/
@media (max-width: 63.9em) {
    
}